.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.input-full {
  width: 100%;
}

.input-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--gray-700);
}

.input-required {
  color: var(--error);
  margin-left: var(--space-1);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-field {
  width: 100%;
  height: 44px;
  padding: 0 var(--space-4);
  border: 1px solid var(--gray-300);
  border-radius: var(--radius-md);
  font-size: 0.9375rem;
  color: var(--gray-900);
  background: white;
  transition: all var(--transition-base);
}

.input-field:focus {
  outline: none;
  border-color: var(--infinos-orange-500);
  box-shadow: 0 0 0 3px var(--infinos-orange-50);
}

.input-field:disabled {
  background: var(--gray-50);
  color: var(--gray-500);
  cursor: not-allowed;
}

.input-field::placeholder {
  color: var(--gray-400);
}

.input-has-left-icon {
  padding-left: var(--space-12);
}

.input-has-right-icon {
  padding-right: var(--space-12);
}

.input-icon {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--gray-400);
  pointer-events: none;
}

.input-icon-left {
  left: var(--space-4);
}

.input-icon-right {
  right: var(--space-4);
}

.input-error .input-field {
  border-color: var(--error);
}

.input-error .input-field:focus {
  box-shadow: 0 0 0 3px var(--error-light);
}

.input-message {
  font-size: 0.8125rem;
  color: var(--gray-600);
  margin: 0;
}

.input-message-error {
  color: var(--error);
}